@model RedditClone.Models.SubredditListViewModel

@{
    ViewBag.Title = "Subreddits";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">RedditClone</h1>
        <p>A community for discussing all of your favorite things.</p>
        <hr class="my-4">
        <p>If we dont have a subreddit that interests you, create a new one!</p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="#" role="button">New Subreddit</a>
        </p>
    </div>
</div>

<div class="list-group">
    @for (var i = 0; i < Model.Subreddits.Count; i++)
    {
        <a href="@Url.Action("Posts", new { id = Model.Subreddits[i].SubredditId })"
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <h4>@Model.Subreddits[i].SubredditName</h4>
            <span class="badge badge-primary badge-pill">@Model.Subreddits[i].Posts.Count</span>
        </a>
    }
</div>