@model RedditClone.Models.SubredditListViewModel

@{
    ViewBag.Title = "Subreddits";
}

<h2>Subreddits</h2>

<ul>
@for (var i = 0; i < Model.Subreddits.Count; i++)
{
    <h4>@Html.ActionLink(Model.Subreddits[i].SubredditName, "SubredditPosts", new { id = Model.Subreddits[i].SubredditId })</h4>
}
</ul>